body{
    background-color: papayawhip;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.navbar{
    text-align: center;
}

/* unvisited link */
a:link {
    color: grey;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  
